*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


body{ 
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;

}

header nav{ 
    background-color: yellow;
    height: 70px;
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo { 
   text-transform: uppercase;
   color: blueviolet;
    font-size: 30px;
    font-weight: bolder;
}

.menu {
    display: flex;
    list-style: none;

   

}
.menu ul { 
    display: flex;


}

.menu ul li{ 
    list-style: none;
    margin-left: 10px;

}
.menu ul li a{ 
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

}

.banner{ 
    
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    

}   
.text-banner{ 
   color: yellow;
   text-transform: uppercase;
   font-weight: bolder;


}
.jumbo {
    width: 100%;
    height: 600px;
    background-image: url(pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .jumbbo-txt{ 
    background-color: brown;
    padding: 20px 40px;
    color: black;
    border: 5px solid black;


}
footer{ 
    height: 20px;
    background-color: yellow;
    
}



   

}{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

 .jumbo-cta{ 
    display: flex;
    justify-content: center;
    align-items: center;
}


.cta{ 
    border-radius: 25px;
    padding: 10px 20px;
    margin: 0 20px;
    cursor: pointer;

}

.cta1{ 
    background-color: blueviolet;

}

.cta2{ 
    background-color: blue;


}


.menu{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;

    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.pizza{ 
    font-size: large;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
.ingr{ 
   font-size: small;
   font-family: 'Times New Roman', Times, serif;

}

.storia{ 
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza-img{ 
    background-color: brown;
    height: 200PX;
    width: 200px;
}

.pizza-div{ 
    
   display: flex;
    justify-content:center ;
    align-items: center;



}{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}